$dark-purple:#19011B;
$purple:#2B114E;
$violet:#52285A;
$light-purple:#834E6A;
$light-pink:#DAB3AE;
$pinkishwhite:#FEE3D8;
$white:#FFFFFF;
$black:#000000;
//////
$dark-blue:#032F64;
$mid-blue:#034698;
$light-blue:#28A7EA;
$teal:#7AD6F4;
$goldenyellow:#FFB900;


